/* SVG icon */

.svg-icon {
  display: block;
  height: 1em;
  width: 1em;
}

.svg-icon--circular {
  border-radius: 50%;
}

.svg-icon--inline {
  display: inline-block;
  vertical-align: middle;
}

.svg-icon--chevron-right {
  &:after {
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    width: 14px;
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTUuMzQsMS4zM2wtMSwxTDkuNjcsOGwtNS4zLDUuNjQsMSwxTDExLjYzLDhaIi8+PC9zdmc+);
  }
}
