/* Wrapper */

/**
 * Container with max-width for ensuring content width is restricted uniformly
 * on large screens.
 **/
.wrapper,
%wrapper {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $upd-max-width;
}

.wrapper--gutter,
%wrapper--gutter {
  @mixin wrapper--gutter($gutter) {
    max-width: $upd-max-width + 2 * $gutter;
    padding: {
      left: $gutter;
      right: $gutter;
    }
  }

  @include wrapper--gutter($upd-spacing-gutter-medium);

  @include mq(small) {
    @include wrapper--gutter($upd-spacing-gutter-large);
  }

  @include mq(medium) {
    @include wrapper--gutter(2 * $upd-spacing-gutter-large);
  }

  @media print {
    padding: {
      left: 0;
      right: 0;
    }
  }
}
