<main>
  <header class="hero panel">
    <div class="wrapper  wrapper--gutter">
      <h1 class="hero__title">{{ label }}</h1>
      {{  content.field_3_items_grid  }}
      <p class="hero__intro">{{ content.field_hero_intro }}</p>
    </div>
    <div class="panel panel--alt">
      <div class="wrapper  wrapper--gutter">
        {{ content.field_testimonial }}
      </div>
    </div>
</main>