<a class="key-info-tile" href="#link-to-page">

    <svg class="key-info-tile__icon     svg-icon  svg-icon--inline" role="presentation">

        <use xlink:href="#svg-icon-{{icon}}"/>

    </svg>

    <p class="key-info-tile__text">{{text}}</p>

    <span class="button  button--shadow">{{button}}</span>

</a>