<div class="wrapper wrapper--gutter">

  <ul class="site-footer__sections">
    <li class="site-footer__section  site-footer__section--primary    u-width-1-of-2-from-medium  u-width-1-of-3-from-large">
      <img alt="Understanding Patient Data" class="site-footer__logo" src="{{ base_path }}/themes/upd/assets/images/logo.svg">
      <ul class="site-footer__socials grid gutter gutter--small">
        <li class="grid__item gutter__item">
          <a class="site-footer__social-link" href="https://twitter.com/Patient_Data">
            <svg class="svg-icon svg-icon--circular site-footer__social-icon" xmlns="http://www.w3.org/2000/svg" title="Follow us on Twitter">
              <title>Follow us on Twitter</title>
              <use xlink:href="#svg-icon-twitter"></use>
            </svg>
          </a>
        </li>
        {#<li class="grid__item gutter__item">#}
        {#<a class="site-footer__social-link" href="#link-to-linkedin">#}
        {#<svg class="svg-icon svg-icon--circular site-footer__social-icon" xmlns="http://www.w3.org/2000/svg" title="Follow us on LinkedIn">#}
        {#<title>Follow us on LinkedIn</title>#}
        {#<use xlink:href="#svg-icon-linkedin"></use>#}
        {#</svg>#}
        {#</a>#}
        {#</li>#}
        {#<li class="grid__item gutter__item">#}
        {#<a class="site-footer__social-link" href="#link-to-facebook">#}
        {#<svg class="svg-icon svg-icon--circular site-footer__social-icon" xmlns="http://www.w3.org/2000/svg" title="Follow us on Facebook">#}
        {#<title>Follow us on Facebook</title>#}
        {#<use xlink:href="#svg-icon-facebook"></use>#}
        {#</svg>#}
        {#</a>#}
        {#</li>#}
      </ul>
    </li>
    <li class="site-footer__section    u-width-1-of-2-from-medium  u-width-1-of-3-from-large">
      <span class="site-footer__text  site-footer__text--title">Contact us</span>
      <dl class="list-bare">
        <dt class="u-visually-hidden">Telephone</dt>
        <dd>
          <a class="site-footer__text  site-footer__text--phone"
             href="tel:+4420776118646">+44 (0)20 7611 8646</a>
        </dd>

        <dt class="u-visually-hidden">Email</dt>
        <dd>
          <a class="site-footer__text" href="mailto:hello@understandingpatientdata.org.uk">hello@understandingpatientdata.org.uk</a>
        </dd>
      </dl>
    </li>

    {#<li class="site-footer__section   u-width-1-of-2-from-medium  u-width-1-of-3-from-large">#}
      {#<span class="site-footer__text  site-footer__text--title">Subscribe to#}
        {#the newsletter</span>#}
      {#{% include directory ~ '/templates/form/mailchimp.signup-form.html.twig' %}#}
    {#</li>#}
  {#</ul>#}


  {{ content }}


</div>

