{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper  wrapper--gutter">
  <main class="layout">
    <div class="layout__item">
      <ul class="grid gutter gutter--large masonry masonry--loading">
        {% for row in rows %}
        <li class="grid__item gutter__item masonry__item u-width-1-of-1 u-width-1-of-2-from-medium u-width-1-of-3-from-x-large">
          {{ row.content }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </main>
</div>
        