/* GT Walsheim Pro - dev */

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro-trial-light-oblique-webfont.woff2") format("woff2"),
  url("../fonts/gt-walsheim-pro-trial-light-oblique-webfont.woff") format("woff");
  font-weight: $upd-font-weight-light;
  font-style: oblique;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro-trial-light-webfont.woff2") format("woff2"),
  url("../fonts/gt-walsheim-pro-trial-light-webfont.woff") format("woff");
  font-weight: $upd-font-weight-light;
  font-style: normal;

}




@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff2") format("woff2"),
  url("../fonts/gt-walsheim-pro-trial-medium-oblique-webfont.woff") format("woff");
  font-weight: $upd-font-weight-medium;
  font-style: oblique;

}




@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro-trial-medium-webfont.woff2") format("woff2"),
  url("../fonts/gt-walsheim-pro-trial-medium-webfont.woff") format("woff");
  font-weight: $upd-font-weight-medium;
  font-style: normal;

}




@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro-trial-regular-oblique-webfont.woff2") format("woff2"),
  url("../fonts/gt-walsheim-pro-trial-regular-oblique-webfont.woff") format("woff");
  font-weight: $upd-font-weight-regular;
  font-style: oblique;

}




@font-face {
  font-family: "GT Walsheim Pro";
  src: url("../fonts/gt-walsheim-pro-trial-regular-webfont.woff2") format("woff2"),
  url("../fonts/gt-walsheim-pro-trial-regular-webfont.woff") format("woff");
  font-weight: $upd-font-weight-regular;
  font-style: normal;

}
