<form class="search{{#modifiers}}  search--{{.}}{{/modifiers}}">

    <label class="u-visually-hidden" for="search">Search the entire Understanding Patient Data site</label>

    <input class="search__input"
           id="search"
           {{#placeholder}}placeholder="{{.}}"{{/placeholder}}
           required
           type="search"
           {{#value}}value="{{.}}"{{/value}}>

    <button class="search__submit" type="submit">

        {{> @svg-icon icon="search" title="Search"}}

    </button>

</form>