/* Drupal extra theming */

ul.js-facets-checkbox-links {
  list-style-type: none;
  margin:0;
  padding:0;
}

.align-left {
  padding-right: 30px;
}

.content .body {
  margin-top: ($upd-line-height-heading-4 * 1em);
}

.view-related-news-block {
  padding-bottom: 2em;
}