.idea
files/*
www/sites/default/files/*
/www/sites/default/files/*
www/sites/default/settings.php
/www/sites/default/settings.php
.project
.project
docs/*
www/.idea/*
/nbproject
planer/.git
.idea/*
node_modules/
.DS_STORE
config/sync/system.menu.devel.*
config/sync/devel.*
config/sync/devel_generate.*
config/sync/webprofiler.*
www/modules/contrib/devel/*
mariadb-init/*
.docker-sync
*.code-workspace
