/* r41983 Custom styles for new image in PDF */
.resource-box__title:before {
  height: auto;
}

.resource-box .pdfpreview img {
  max-height: 140px;
  display: block;
  margin: 0 auto;
}

/* r41970 Fixing CSS issue with related news block in sidebar */
@media screen and (min-width: 55rem) {
  .layout__item--secondary .u-width-1-of-2-from-medium {
    width: 100%;
  }
}

.case-study-video.top {
  padding-top: 4rem;
}

/* #50240: Change homepage header text.*/
.with-sub-title {
  padding: 7rem 0 5rem;
  font-size: 2.75rem;
  max-width: 31rem;
}

.hero__sub-title {
  /* Limit the max height and hide field's content if it goes over. */
  max-height: 250px;
  overflow: hidden;
  /* Sub-title field hidden by default on all displays/devices */
  display: none;
}

.hero__sub-title p {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1.35rem;
}

/* Display sub-title field for larger displays (monitors). */
@media screen and (min-width: 1130px) {
  .hero__sub-title {
    display: block;
  }
}

/* #50240: Changes to buttons on the homepage. Overrides main.css. */
.key-info-tile__icon {
  margin-bottom: 20px;
}

.key-info-tile .cta {
  font-size: 1.25rem;
}

@media screen and (min-width: 30rem) {
  .key-info-tile {
    padding: 1.9rem;
  }
}

/* #51649: Correcting the EU cookie banner styles. */
.eu-cookie-compliance-buttons .eu-cookie-compliance-secondary-button {
  margin-top: 1em;
  padding: 0 8px;
}

.eu-cookie-compliance-buttons .eu-cookie-compliance-default-button, .eu-cookie-compliance-buttons .eu-cookie-withdraw-button {
  margin-top: 1em;
  padding: 0 8px;
  color: #000;
  background-color: #ededed;
}

.eu-cookie-withdraw-tab {
  padding: 4px 7px;
  margin: 0;
  background: #004260;
  color: #ffffff;
  border-color: #ffffff;
  transform: translate(-50%, -100%);
  left: 50%;
  border-width: 2px 2px 0;
  border-radius: 5px 5px 0 0;
}

/* #64697: Fix color contrast accessibility issues. */
.button, .site-footer__submit,
.faq-filter-container a.faq-cat-changer, .faq-filter-container a.news-cat-changer,
.news-filter-container a.faq-cat-changer, .news-filter-container a.news-cat-changer {
  background-color: #CE3C22;
}

.cta, .external-link, .content a.is-styled, .content a:not([class]) {
  color: #CE3C22;
}

.button:focus, .button:hover, a:focus .button, a:hover .button {
  background-color: #B93017;
}

.invert-colors {
  background-color: #FFFFFF;
  color: #CE3C22;
}

.button--big {
  font-size: 1.125em;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  height: unset;
  border-radius: 1.5em;
}

.button--big:hover {
  color: #FFFFFF;
}

.button--big:after {
  content: url(../images/chevron-right.svg);
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  margin-left: 0.375em;
}

.button--big:hover:after {
  transform: translateX(0.3em);
  filter: brightness(0) invert(1);
}

.button--tertiary {
  background-color: transparent;
  color: #65747C;
  box-shadow: inset 0 0 0 1px #65747C;
}

.button--tertiary:hover {
  background-color: #658c9f;
}

.site-footer {
  font-size: 1em;
  background: #2B536E;
  font-weight: 500;
}

.site-footer__social-icon {
  background: #FFF;
}

.site-footer__text--phone {
  color: inherit;
}

.site-footer__details {
  color: #FFFFFF;
  font-size: 0.875rem;
  border-top-color: #FFFFFF;
}

.site-footer__input,
.email.site-footer__input {
  color: #384B54;
}

body {
  color: #556685;
}

.content-pagination__description, .h5, .news-tile__date, .page-header__category,
.refine__title, .search-result__category, .site-header__popup-bar, h5, .toc {
  color: #65747C;
}

.faq-filter-container a.faq-cat-changer.active, .faq-filter-container a.news-cat-changer.active,
.news-filter-container a.faq-cat-changer.active, .news-filter-container a.news-cat-changer.active {
  color: #CE3C22;
  border-color: #CE3C22;
}

.contact-message-contact-us-form .form-actions {
  text-align: center;
  margin-top: 0.5em;
}
