<a class="cta{{#if small}}  cta--small{{/if}}" href="#link-to-destination">

    {{label}}

    <svg class="svg-icon  svg-icon--inline" role="presentation">

        <use xlink:href="#svg-icon-{{icon}}"/>

    </svg>

</a>
