<ul class="pagination">

    <li class="pagination__item  pagination__item--step">

        <a class="pagination__control" href="#link-to-previous-results">

            {{> @svg-icon icon="chevron-left" inline=true title="Previous results"}}

        </a>

    <!-- /li -->

    {{#pages}}

        <li class="pagination__item{{^active}} pagination__item--link{{/active}}">

            {{#if active}}

                <span class="pagination__control  pagination__control--active">

                    {{number}}

                </span>

            {{else}}

                <a class="pagination__control" href="#link-to-page-{{number}}">

                    {{number}}

                </a>

            {{/if}}

        <!-- /li -->

    {{/pages}}

    <li class="pagination__item  pagination__item--step">

        <a class="pagination__control" href="#link-to-next-results">

            {{> @svg-icon icon="chevron-right" inline=true title="Next results"}}

        </a>

    <!-- /li -->

</ul>
