<header class="site-header">

    <div class="site-header__logo">

        {{render '@logo'}}

    </div>


    <div class="site-header__navigation">

        {{render '@site-navigation'}}

        <div class="site-header__search">

            {{> @site-search}}

        </div>

    </div>

</header>
