<header class="page-header">
  <div class="wrapper  wrapper--gutter">
    <h1 class="page-header__title">Contact us</h1>
  </div>
</header>
<div class="wrapper  wrapper--gutter">
  <main class="layout  layout--equal   content  u-font-body-copy">
    <div class="layout__item">
      <div class="layout__wrapper">
        <div class="tile">
          <p>Contact the team directly on <a class="link-bare u-whitespace-nowrap" href="tel:+4402076118235">+44 (0)20 7611 8235</a></p>
          <p>or email <a href="mailto:hello@understandingpatientdata.org.uk">hello@understandingpatientdata.org.uk</a></p>
        </div>
      </div>
    </div>
    <div class="layout__item">
      <div class="layout__wrapper">
        {{ form }}
      </div>
    </div>
  </main>
</div>
