<header class="hero panel">

    <div class="wrapper  wrapper--gutter">

        <h1 class="hero__title">{{title}}</h1>

        <ul class="grid  grid--center  grid--large">

            {{#key-info}}

                <li class="grid__item  u-width-1-of-1  u-width-1-of-3-from-x-large">

                    {{> @key-info-tile}}

                <!-- /li -->

            {{/key-info}}

        </ul>

        <p class="hero__intro">{{intro}}</p>

    </div>

</header>
