<?php

$aliases['vm'] = array(
  'root' => '{{ project_dir }}/{{ webroot }}',
  'uri' => 'http://{{ project_name }}.app-vm.codeenigma.com',
);

$aliases['{{ project_name }}'] = array(
  'root' => '{{ project_dir }}/{{ webroot }}',
  'uri' => 'http://{{ project_name }}.app-vm.codeenigma.com',
);

$aliases['dev'] = array(
  'remote-host' => 'wt-stage1.codeenigma.net',
  'root' => '/var/www/live.upd.master/www',
  'uri' => 'http://upd.master.wt-stage1.codeenigma.net',
);