{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

<a href="/">
  <img alt="Understanding Patient Data" class="site-header__logo" src="{{ base_path }}/themes/custom/upd/assets/images/logo.svg">
</a>
  {{ content }}
  <div class="site-header__search  drop-down" data-focus="#header-search" id="site-header-search">
    <div class="site-header__drop-down    drop-down__container">
      <form class="header-search js-header-search" method="GET" action="{{ base_path }}/search">
        <label class="u-visually-hidden" for="header-search">Search the entire Understanding Patient Data site</label>
        <button class="site-header__button header-search__button  js-header-search-submit" type="submit">
          <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" title="Search">
            <title>Search</title>
            <use class="header-search__icon  header-search__icon--mobile" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-arrow"></use>
            <use class="header-search__icon  header-search__icon--desktop" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-search"></use>
          </svg>
        </button>
        <input class="header-search__input js-header-search-input" name="query" id="header-search" placeholder="Search..." required type="search">
      </form>
    </div>
  </div>
  <a aria-controls="site-header-search" aria-expanded="false" class="site-header__button u-display-none-from-visible-navigation" data-toggle="is-open" data-toggle-group="site-header" href="#site-header-search">
    <svg class="svg-icon  svg-icon--inline" role="presentation">
      <title>Search</title>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon-search"></use>
    </svg>
  </a>
