<main class="layout">

    <aside class="layout__item  layout__item--secondary{{^search-results}}  u-hidden-layout-simple{{/search-results}}">

        {{#refine}}

            <a class="button  button--block  button--secondary    u-hidden-layout-complex" href="#filter">Filter results</a>

            <div class="pop-up  pop-up--layout" id="filter">

                <div class="pop-up__close">

                    <a class="button  button--block  button--secondary" href="#">Close</a>

                </div>

                {{> @refine}}

            </div>

        {{/refine}}

        {{^refine}}

            {{render '@table-of-contents'}}

        {{/refine}}

    </aside>


    <article class="layout__item  layout__item--primary">

        {{#search-results}}

            {{> @search-results}}

        {{/search-results}}

        {{^search-results}}

            {{render '@intro'}}

            {{render '@content'}}

        {{/search-results}}

    </article>

</main>
