/* Display helpers */

/**
 * Various utility classes (and placeholders) for hiding/showing elements
 */

/**
 * Hide an element in such a way that it is still accessible to assistive
 * technology. From:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visually-hidden,
%u-visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; width: 1px;
  overflow: hidden;
  position: absolute !important;
}


.u-hidden-layout-simple,
%u-hidden-layout-simple {
  display: none;

  @include mq($upd-layout-breakpoint) {
    display: block;
  }
}

.u-hidden-layout-complex,
%u-hidden-layout-complex {
  @include mq($upd-layout-breakpoint) {
    display: none;
  }
}
