/* Font helper classes */

@mixin font-helper($name, $line-height) {
  .u-font-#{$name} {
    @extend %font-#{$name};

    p:not([class]),
    ol:not([class]),
    ul:not([class]),
    &__mb {
      margin-bottom: $line-height * 1em;
    }

    &__pb {
      padding-bottom: $line-height * 1em;
    }

    li > ol:not([class]),
    li > ul:not([class]) {
      margin-bottom: 0;
    }

    ol:not([class]),
    ul:not([class]) {
      padding-left: $line-height * 1em;
    }
  }
}

@include font-helper(body-copy, $upd-line-height-body-copy);

@include font-helper(body-copy-small, $upd-line-height-body-copy-small);

@include font-helper(intro, $upd-line-height-intro);
