/* Fonts */

@mixin utility-font($name, $line-height) {
  .u-font-#{$name} {
    @extend %font-#{$name};

    p:not([class]),
    ol:not([class]),
    ul:not([class]),
    .u-mb {
      margin-bottom: $line-height * 1em;
    }

    li > ol:not([class]),
    li > ul:not([class]) {
      margin-bottom: 0;
    }

    ol:not([class]),
    ul:not([class]) {
      padding-left: $line-height * 1em;
    }
  }
}

@include utility-font(body-copy, $upd-line-height-body-copy);

@include utility-font(body-copy-small, $upd-line-height-body-copy-small);

@include utility-font(intro, $upd-line-height-intro);
