{{render '@site-header'}}

<main>

    {{render '@hero'}}

    {{#primary-panel}}

        {{> @panel}}

    {{/primary-panel}}

    {{#secondary-panel}}

        {{> @panel}}

    {{/secondary-panel}}

</main>
