{#
/**
 * @file
 * Search page layout.
 *
 */
#}
<header class="page-header">
  <div class="wrapper  wrapper--gutter">
    <h1 class="page-header__title">Case studies</h1>
  </div>
</header>
<div class="wrapper  wrapper--gutter">
  <main class="layout">
    <aside class="layout__item  layout__item--secondary  u-hidden-layout-simple">
      <div class="layout__wrapper">
        {{ content.filters }}
      </div>
    </aside>
    <article class="layout__item  layout__item--primary" id="primary">
      <div class="layout__wrapper">
        <div class="search-results">
          <header class="search-results__header">





            <ul class="grid">



              <li class="grid__item u-width-1-of-3">

                <a class="case-study-tile" href="#link-to-destination">

                  <img alt="" class="case-study-tile__image" src="../../images/placeholder/case-study-tile-whooping-cough.jpg">

                  <div class="case-study-tile__info">

                    <h2 class="case-study-tile__title">Whooping cough vaccination during pregnancy</h2>

                    <ul class="tag-list">



                      <li class="tag-list__item">

                        <span class="tag  tag--planning">

                          Planning

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--disease-risks-and-causes">

                          Disease risks and causes

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--diagnosis">

                          Diagnosis

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--patient-safety">

                          Patient safety

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--policy">

                          Policy

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--treatment-and-prevention">

                          Treatment and prevention

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--individual-care">

                          Individual care

                        </span>


                      </li>



                    </ul>

                  </div>

                </a>

                <!-- /li -->



              </li><li class="grid__item u-width-1-of-3">

                <a class="case-study-tile" href="#link-to-destination">

                  <img alt="" class="case-study-tile__image" src="../../images/placeholder/case-study-tile-whooping-cough.jpg">

                  <div class="case-study-tile__info">

                    <h2 class="case-study-tile__title">Whooping cough vaccination during pregnancy</h2>

                    <ul class="tag-list">



                      <li class="tag-list__item">

                        <span class="tag  tag--planning">

                          Planning

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--disease-risks-and-causes">

                          Disease risks and causes

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--diagnosis">

                          Diagnosis

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--patient-safety">

                          Patient safety

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--policy">

                          Policy

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--treatment-and-prevention">

                          Treatment and prevention

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--individual-care">

                          Individual care

                        </span>


                      </li>



                    </ul>

                  </div>

                </a>

                <!-- /li -->



              </li><li class="grid__item u-width-1-of-3">

                <a class="case-study-tile" href="#link-to-destination">

                  <img alt="" class="case-study-tile__image" src="../../images/placeholder/case-study-tile-whooping-cough.jpg">

                  <div class="case-study-tile__info">

                    <h2 class="case-study-tile__title">Whooping cough vaccination during pregnancy</h2>

                    <ul class="tag-list">



                      <li class="tag-list__item">

                        <span class="tag  tag--planning">

                          Planning

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--disease-risks-and-causes">

                          Disease risks and causes

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--diagnosis">

                          Diagnosis

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--patient-safety">

                          Patient safety

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--policy">

                          Policy

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--treatment-and-prevention">

                          Treatment and prevention

                        </span>


                      </li>



                      <li class="tag-list__item">

                        <span class="tag  tag--individual-care">

                          Individual care

                        </span>


                      </li>



                    </ul>

                  </div>

                </a>

                <!-- /li -->



              </li></ul>



          </header>
          {{ content.main }}

        </div>






      </div>

    </article>



  </main>



</div>