{#
/**
 * @file
 * Search page layout.
 *
 */
#}
<header class="page-header">
    <div class="wrapper  wrapper--gutter">
        <h1 class="page-header__title">Case studies</h1>
        <p class="page-header__subheading">
            There is a wide range of ways that patient data can be used to provide better care and improve health. Explore the case studies to learn more. Please let us know if you have good examples to share.</p>
    </div>
</header>
<div class="wrapper  wrapper--gutter">
    <main class="layout">
        <aside class="layout__item  layout__item--secondary  u-hidden-layout-simple">
            <div class="layout__wrapper">
                {{ content.filters }}
            </div>
        </aside>
        <article class="layout__item  layout__item--primary" id="primary">
            <div class="layout__wrapper">
                <div class="search-results">
                    {{ content.main }}
                </div>


            </div>

        </article>


    </main>


</div>
