{#
/**
 * @file
 * Search page layout.
 *
 */
#}
<div class="page-header" role="region" aria-label="{{ 'Page header'|t }}">
  <div class="wrapper  wrapper--gutter">
    <h1 class="page-header__title">Search results</h1>
    <div class="page-header__search">
      {{ content.header }}
    </div>
  </div>
</div>
<div class="wrapper  wrapper--gutter">
  <main class="layout">
    <aside class="layout__item  layout__item--secondary  u-hidden-layout-simple">
      <div class="layout__wrapper">
        {{ content.filters }}
      </div>
    </aside>
    <article class="layout__item  layout__item--primary" id="primary">
      <div class="layout__wrapper">
        <div class="search-results">
          {{ content.main }}
        </div>
      </div>
    </article>
  </main>
</div>
