<section class="accordion">

    <a class="accordion__trigger" href="#{{id}}" id="{{id}}">

        <h2 class="accordion__title">{{title}}</h2>

    </a>

    <div class="accordion__content">

        {{{content}}}

    </div>

</section>