<nav class="header-nav">

    <ul class="header-nav__list">

        {{#items}}

            <li class="header-nav__item">

                <a class="header-nav__link" href="#link-to-page">{{.}}</a>

            </li>

        {{/items}}

    </ul>

</nav>
