<nav class="site-nav">

    <ul class="site-nav__list">

        {{#items}}

            <li class="site-nav__item">

                <a class="site-nav__link" href="#link-to-page">{{.}}</a>

            </li>

        {{/items}}

    </ul>

</nav>
