<form class="site-search">

    <label class="u-visually-hidden" for="site-search">Search the entire Understanding Patient Data site</label>

    <button class="site-header__button    site-search__button" type="submit">

        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" title="Search">

            <title>Search</title>

            <use xlink:href="#svg-icon-search"/>

        </svg>

    </button>

    <input class="site-search__input" id="site-search" placeholder="Search..." required type="search">

</form>
