<head>

    <meta charset="utf-8">

    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link media="all" rel="stylesheet" href="{{path '/css/main.css'}}">

    <title>{{_target.title}} | {{ _config.project.title }}</title>

</head>
