<ul class="grid grid--center gutter gutter--large">
  {% for delta, item in items %}
    <li class="grid__item gutter__item u-width-1-of-1 u-width-1-of-3-from-x-large">
      {{ item.content }}
    </li>
  {% endfor %}
</ul>
