<div class="site-footer__details">
    <span class="site-footer__detail">Copyright {{ "now"|date("Y") }}
        Wellcome Trust Ltd.</span>

    {% block content %}
        {{ content }}
    {% endblock %}

</div>

