<ul class="search-pagination">

    <li class="search-pagination__item  search-pagination__item--step">

        <a class="search-pagination__control" href="#link-to-previous-results">

            {{> @svg-icon icon="chevron-left" inline=true title="Previous results"}}

        </a>

    <!-- /li -->

    {{#pages}}

        <li class="search-pagination__item{{^active}} search-pagination__item--link{{/active}}">

            {{#if active}}

                <span class="search-pagination__control  search-pagination__control--active">

                    {{number}}

                </span>

            {{else}}

                <a class="search-pagination__control" href="#link-to-page-{{number}}">

                    {{number}}

                </a>

            {{/if}}

        <!-- /li -->

    {{/pages}}

    <li class="search-pagination__item  search-pagination__item--step">

        <a class="search-pagination__control" href="#link-to-next-results">

            {{> @svg-icon icon="chevron-right" inline=true title="Next results"}}

        </a>

    <!-- /li -->

</ul>
