<ul class="toc">

    {{#items}}

        <li class="toc__item">

            <a class="toc__element{{#if active}} is-active{{/if}}" href="{{href}}">{{title}}</a>

        </li>

    {{/items}}

</ul>
