/* Button */

/**
 * 1. Explicitly define the height, as this gives more consistent results
 *    between browsers than relying on line height and padding
 * 2. Use padding and line height to vertically centre the text
 */

.button,
%button {
  $padding-horizontal: ($upd-button-height - $upd-font-size-button) / 2;
  $padding-vertical: $upd-button-height * 0.8;

  @extend %font-button;
  @extend %link-bare;

  background-color: $upd-color-brand-red;
  border-radius: $upd-button-height / 2;
  color: $upd-color-text-reverse;
  display: inline-block;
  height: $upd-button-height;  /* 1 */
  line-height: 1;   /* 2 */
  padding: $padding-horizontal $padding-vertical; /* 2 */
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:focus,
  &:hover,
  a:focus &,
  a:hover & {
    background-color: shade($upd-color-brand-red, $upd-tint-active);
  }
}

.button--block {
  display: block;
  width: 100%;
}

.button--shadow {
  box-shadow: 0 rems(2px) 0 0 darken($upd-color-brand-red, 20%);
}

.button--secondary {
  background-color: $upd-color-brand-grey-blue;

  &:focus,
  &:hover,
  a:focus &,
  a:hover &  {
    background-color: shade($upd-color-brand-grey-blue, $upd-tint-active);
  }
}

/**
 * 1. Use box-shadow to create the outline, as it doesn't affect sizing
 */
.button--tertiary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px $upd-color-brand-grey-blue; /* 1 */
  color: $upd-color-brand-grey-blue;

  &:focus,
  &:hover,
  a:focus &,
  a:hover &  {
    background-color: $upd-color-brand-grey-blue;
    color: $upd-color-text-reverse;
  }
}

.button--small {
  $padding-horizontal: ($upd-button-height-small - $upd-font-size-button-small) / 2;
  $padding-vertical: $upd-button-height-small * 0.8;

  @extend %font-button-small;

  height: $upd-button-height-small;  /* 1 */
  padding: $padding-horizontal $padding-vertical; /* 2 */
}

.button--tiny {
  $padding-horizontal: ($upd-button-height-tiny - $upd-font-size-button-tiny) / 2;
  $padding-vertical: $upd-button-height-tiny * 0.5;

  @extend %font-button-tiny;

  height: $upd-button-height-tiny;  /* 1 */
  padding: $padding-horizontal $padding-vertical; /* 2 */
}
