/* Content */

/**
 * General content pages, in which much of the content is added via WYSIWYG
 * editor. As such, we'll apply styling by scoped element selectors instead
 * of BEM class names.
 */

.content {
  h2:not([class]),
  h2.is-styled {
    padding: (2 * $upd-spacing-gutter-large) 0 $upd-spacing-gutter-large;
  }

  h4:not([class]),
  h4.is-styled,
  .h4 {
    margin: $upd-line-height-heading-4 0 $upd-font-size-heading-4;
  }

  a:not([class]),
  a.is-styled {
    color: $upd-color-brand-red;
  }

  & > * + section:not([class]) {
    border-top: 1px solid $upd-color-border-light;
    margin-top: (2 * $upd-spacing-gutter-large)
  }

  /**
   * Allow section decoration to be turned off via the CMS
   */
  & > .is-plain + section {
    border-top: none;
    margin-top: 0;
  }
}


.content__actions {
  @extend %list-bare;

  border-color: $upd-color-border-light;
  border-style: solid;
  border-width: 1px 0;
  margin: (3 * $upd-line-height-body-copy) 0 $upd-line-height-body-copy;
  padding: $upd-spacing-gutter-medium 0 $upd-spacing-gutter-medium;
  text-align: center;

  @include mq(small) {
    text-align: right;
  }
}

.content__action {
  @include mq(small) {
    display: inline-block;
  }

  * + & {
    margin-top: 1em;

    @include mq(small) {
      margin-left: 1em;
      margin-top: 0;
    }
  }
}