/* Call to Action */

.cta {
  @extend %font-body-copy;

  color: $upd-color-brand-red;
  display: block;
  font-weight: $upd-font-weight-medium;
  margin-top: -1.2em;

  &:hover,
  a:hover & {
    text-decoration: underline;
  }

  &:hover {
    &:after {
      @extend %cta--icon-hover;
    }
  }

  &:after {
    @extend %icon;

    margin-left: 0.3em;

    a:hover & {
      @extend %cta--icon-hover;
    }
  }
}

%cta--icon-hover {
  transform: translateX(0.3em);
}

.cta--arrow {
  &:after {
    @extend %icon--arrow;
  }
}

.cta--download {
  &:after {
    @extend %icon--download;
  }
}

.cta--extension {
  @each $extension in $upd-cta-extensions {
    &[href*=".#{$extension}"]:before {
      $height: rems(22px);

      @extend %font-tag;

      background-color: rgba($upd-color-brand-red, 0.5);
      border-radius: rems(4px);
      color: $upd-color-text-reverse;
      content: "#{$extension}";
      display: inline-block;
      height: $height;
      line-height: $height;
      margin-right: 1em;
      margin-top: -0.3em;
      padding: 0 0.6em;
      vertical-align: middle;
    }
  }
}

.cta--small {
  @extend %font-body-copy-small;
}
