/* Call to Action */

.cta {
  @extend %font-body-copy;

  color: $upd-color-brand-red;
  display: block;
  font-weight: $upd-font-weight-medium;

  &:after {
    @extend %icon;

    margin-left: 0.2em;
  }
}

.cta--arrow {
  &:after {
    @extend %icon--arrow;
  }
}

.cta--download {
  &:after {
    @extend %icon--download;
  }
}

.cta--extension {
  @each $extension in $upd-cta-extensions {
    &[href*=".#{$extension}"]:before {
      @extend %tag;

      content: "#{$extension}";
      margin-right: 0.5em;
    }
  }
}

.cta--small {
  @extend %font-body-copy-small;
}
