/* Form */

.form {
  margin: 0 auto;
  max-width: $upd-input-max-width;
}


.form__group {
  border: none;
  margin-bottom: $upd-spacing-gutter-medium;
}


.form__field {
  margin-bottom: $upd-spacing-gutter-medium;
}

.form__field--checkbox,
.form__field--radio {
  margin-bottom: 0;
}


.form__error {
  color: $upd-color-danger;
  display: none;
  margin-bottom: 0;
  margin-top: 0.5em;
  
  .form__group--error &,
  .form__field--error & {
    display: block;
  }
}

/* News Ajax Filters */
.form-item-field-faq-category-target-id,
#views-exposed-form-faqs-faqs .form-submit,
.form-item-field-news-category-target-id,
#views-exposed-form-news-news .form-submit {
  display: none;
}

.faq-filter-container,
.news-filter-container {
  margin: 1em auto -1em auto;
  a.faq-cat-changer,
  a.news-cat-changer {
    display: inline-block;
    margin: 1em 1em 0 0;
    background-color: $upd-color-brand-red;
    color: $upd-color-text-reverse;
    border-radius: 16px;
    padding: 5px 10px;
  }

  a.faq-cat-changer.active,
  a.news-cat-changer.active {
    background-color: $upd-color-text-reverse;
    color: $upd-color-brand-red;
    border: 1px solid $upd-color-brand-red;
  }
}