/* Header search */

/**
 * 1. Use negative margins so the input field sits outside its parent
 * 2. Hide overflowing content so the input isn't visible
 * 3. Remove the negative margins on focus so the input slides in
 * 4. Make the input occupy the full width of the search field for a more
 *    visually appealing outline when the input is focused
 */

.header-search {
  display: block;
  height: $upd-site-header-height-small;
  overflow: hidden; /* 2 */
  position: relative;

  @include mq($upd-site-header-breakpoint-height) {
    height: $upd-site-header-height;
  }

  @include mq($upd-site-header-breakpoint-navigation) {
    background: rgba($upd-color-background-primary, 0.1);
  }
}


.header-search__button {
  position: absolute; /* 4 */
  right: 0;

  @include mq($upd-site-header-breakpoint-navigation) {
    left: 0;
    right: auto;
  }
}


.header-search__icon--mobile {
  @include mq($upd-site-header-breakpoint-navigation) {
    display: none;
  }
}

.header-search__icon--desktop {
  display: none;

  @include mq($upd-site-header-breakpoint-navigation) {
    display: block;
  }
}


.header-search__input {
  $apparent-width: rems(240px);
  $actual-width: $apparent-width + $upd-site-header-height; /* 4 */

  background: none;
  border: none;
  border-radius: 0;
  height: 100%;
  max-width: unset;
  padding: 0 $upd-site-header-height 0 $upd-spacing-gutter-medium 0; /* 4 */
  width: 100%;

  @include mq($upd-site-header-breakpoint-navigation) {
    margin-right: -$apparent-width;  /* 1 */
    padding: 0 $upd-spacing-gutter-medium 0 $upd-site-header-height; /* 4 */
    vertical-align: top;
    width: $actual-width; /* 4 */

    &:focus,
    :focus + & {
      margin-right: 0;  /* 3 */
    }
  }

  &:focus {
    background: none;
  }
}
