/* Header nav */

.header-nav {}


.header-nav__list {
  @extend %list-bare;

  padding: ($upd-spacing-gutter-large / 2) 0;

  @include mq($upd-site-header-breakpoint-navigation) {
    display: inline-block;
    padding: 0;
  }
}


.header-nav__item {
  @include mq($upd-site-header-breakpoint-navigation) {
    display: inline-block;
    vertical-align: top;
  }
}


.header-nav__link {
  @extend %link-bare;

  display: block;
  padding: ($upd-spacing-gutter-large / 2) $upd-spacing-gutter-large;
  vertical-align: middle;

  @include mq($upd-site-header-breakpoint-navigation) {
    background-color: transparent;
    display: table-cell;
    height: $upd-site-header-height;
    padding: 0 $upd-spacing-gutter-medium;

    &:focus,
    &:hover {
      background-color: rgba($upd-color-background-primary, 0.1);
    }
  }
}
