/* Hero */

.hero {
  background-image: url('../images/placeholder/home-illustration.png'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 642.8"><polygon fill="#{$upd-color-brand-grey}" points="0,0 750,0 750,205 0,642.8 "/><polygon fill="#{$upd-color-brand-grey-blue}" points="1000,350.9 750,205 750,0 1000,0 "/></svg>');
  background-position: right top, center top;
  background-repeat: no-repeat;
  background-size: 50%, contain;
  padding-bottom: 4 * $upd-spacing-gutter-large;
}

.hero__title {
  @extend %font-hero;

  max-width: $upd-max-width / 2;
  padding: 6 * $upd-spacing-gutter-large 0;
}


.hero__intro {
  @extend %font-hero-intro;

  margin-top: rems(100px);
  padding: 0 5%;
  text-align: center;
}
