%icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
}

%icon--arrow {
  $svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 11"><path fill="#{$upd-color-brand-red}" d="M15.7436041,4.65386659 L11.2994011,0.257621807 C10.9517949,-0.0861645341 10.3899353,-0.0861645341 10.0423291,0.257621807 C9.69472292,0.601408149 9.69472292,1.15709349 10.0423291,1.50087983 L12.9698666,4.39624664 L0.891662833,4.39624664 C0.400035664,4.39624664 0.00264444444,4.79015017 0.00264444444,5.2754956 C0.00264444444,5.76172026 0.400035664,6.15474455 0.891662833,6.15474455 L12.9698666,6.15474455 L10.0423291,9.05011137 C9.69472292,9.3938977 9.69472292,9.94958304 10.0423291,10.2933694 C10.3899353,10.6371558 10.9517949,10.6371558 11.2994011,10.2933694 L15.7436041,5.89800386 C16.0912102,5.55421752 16.0867651,4.99325668 15.7436041,4.65386659 Z"/></svg>';

  content: svg-url($svg);
}

%icon--chevron-down {
  $svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="#{$upd-color-brand-red}" d="M1.47,4.22a1,1,0,0,0-.71.3,1,1,0,0,0,0,1.43L8.29,13.5a1,1,0,0,0,1.42,0l7.53-7.55a1,1,0,0,0-1.42-1.43L9.27,11.17H8.85L8.64,11,2.18,4.51A1,1,0,0,0,1.47,4.22Z"/></svg>';

  content: svg-url($svg);
}

%icon--chevron-down-reverse {
  $svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill="#{$upd-color-text-reverse}" d="M1.47,4.22a1,1,0,0,0-.71.3,1,1,0,0,0,0,1.43L8.29,13.5a1,1,0,0,0,1.42,0l7.53-7.55a1,1,0,0,0-1.42-1.43L9.27,11.17H8.85L8.64,11,2.18,4.51A1,1,0,0,0,1.47,4.22Z"/></svg>';

  content: svg-url($svg);
}

%icon--download {
  $svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="#{$upd-color-brand-red}"><path d="M14.3,15.3c0,0.4-0.3,0.7-0.8,0.7h-11c-0.4,0-0.8-0.2-0.8-0.6c0-0.4,0.2-0.8,0.6-0.8c0.1,0,0.1,0,0.2,0h11
    C13.9,14.5,14.3,14.9,14.3,15.3z"/><path d="M8.5,13.4l3.9-3.9c0.3-0.3,0.3-0.8,0-1.1c-0.3-0.3-0.8-0.3-1.1,0c0,0,0,0,0,0L8.7,11V2.4c0-0.4-0.3-0.8-0.8-0.8
    S7.1,2,7.1,2.4c0,0,0,0,0,0V11L4.6,8.4c-0.3-0.3-0.8-0.3-1.1,0c0,0,0,0,0,0c-0.3,0.3-0.3,0.8,0,1.1l3.8,3.9
    C7.7,13.7,8.2,13.7,8.5,13.4C8.5,13.4,8.5,13.4,8.5,13.4z"/></g></svg>';

  content: svg-url($svg);
}
