/* Intro */

.intro {
  display: block;
  position: relative;

  &:after {
    border-top: rems(6px) solid $upd-color-border-light;
    content: '';
    display: block;
    height: 0;
    margin: (2 * $upd-spacing-gutter-large) 0 0;
    width: 2 * $upd-spacing-gutter-large
  }
}