/* Intro */

.intro {
  display: block;
  position: relative;

  &:after {
    background-color: $upd-color-border-light;
    content: '';
    display: block;
    height: rems(6px);
    margin: (2 * $upd-spacing-gutter-large) 0 0;
    width: 2 * $upd-spacing-gutter-large
  }
}