.media-panel {
  background-color: $upd-site-header-color-base;
  padding: $upd-spacing-gutter-large 0;

  .media-panel__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq(medium) {
      flex-direction: row;
    }
  }

  .media-panel__title {
    color: $upd-color-text-reverse;
  }

  .media-panel__media-container {
    width: 100%;
    min-height: 250px;
    height: inherit;
    margin: $upd-spacing-gutter-medium 0;
    border: 10px solid $upd-color-background-primary;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    @include mq(medium) {
      width: 50%;
      margin: 0 $upd-spacing-gutter-medium 0 0;
    }

    .media-panel__play {
      margin: 0 auto;
    }
  }

  .media-panel__context {
    width: 100%;

    @include mq(medium) {
      width: 50%;
    }
  }
}
