.pop-up {
  background-color: $upd-color-background-primary;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  top: $upd-site-header-height-small + $upd-site-header-popup-button-height;
  transform: translateY(-100%);
  transition: transform $upd-transition-time, visibility 0s $upd-transition-time;
  width: 100%;
  z-index: 9999;

  @include mq($upd-site-header-breakpoint-height) {
    top: $upd-site-header-height  + $upd-site-header-popup-button-height;
  }

  &:target,
  &.is-open {
    transform: translateY(0);
  }
}

.pop-up--layout {
  @include mq($upd-layout-breakpoint) {
    overflow: auto;
    position: relative;
    top: 0;
    transform: none;
    z-index: auto;
  }
}
