/* Site footer */

.site-footer {
  @extend %font-body-copy-small;

  background: $upd-color-brand-grey-blue;
  color: $upd-color-text-reverse;
  padding: rems(76px) 0 0;
  text-align: center;

  @include mq(medium) {
    text-align: left;
  }

  @media print {
    display: none;
  }
}


.site-footer__sections {
  @extend %clearfix;
  @extend %list-bare;

  margin-left: -$upd-spacing-gutter-large;
}

.site-footer__section {
  float: left;
  margin-bottom: 0;
  padding-left: $upd-spacing-gutter-large;
  position: relative;
  width: 100%;
}

.site-footer__section--primary {
  @include mq(medium) {
    min-height: rems(145px);
  }
}


.site-footer__text {
  display: block;
}

.site-footer__text--phone {
  @extend %link-bare;

  color: rgba($upd-color-text-reverse, 0.6);
  font-size: rems(20px);
}

.site-footer__text--title {
  margin-bottom: $upd-spacing-gutter-medium;
}


.site-footer__logo {
  margin-bottom: $upd-spacing-gutter-large;
}


.site-footer__socials {
  justify-content: left;
}


.site-footer__social-link {
  color: rgba($upd-color-text-reverse, 0.6);
  font-size: rems(30px);

  &:focus,
  &:hover {
    color: rgba($upd-color-text-reverse, 0.8);
  }
}


.site-footer__social-icon {
  background: rgba($upd-color-text-reverse, 0.1);
}

.form-type-checkbox {
  margin-bottom: 1em;
  clear: both;
}

.site-footer__fieldset {
  border: none;
  color: $upd-color-text-reverse;
}

.privacy-statement {
  clear: both;
}

.site-footer__input {
  border: none;
  color: $upd-color-text-primary;
  margin-bottom: 1em;

  &:focus {
    background: $upd-color-background-primary;
  }
}

.email.site-footer__input {
  border: none;
  color: $upd-color-text-primary;
  margin-bottom: 1em;
  border-radius: $upd-input-radius 0 0 $upd-input-radius;
  width: 75%;
  float: left;

  &:focus {
    background: $upd-color-background-primary;
  }
}

.site-footer{
  #mc_embed_signup {
    width: 100%;
  }
  .half-left {
    float: left;
    width: 48%;
  }

  .half-right {
    float: right;
    width: 48%;
  }
}

.site-footer__submit {
  background: $upd-color-brand-red;
  border-radius: 0 $upd-input-radius $upd-input-radius 0;
  height: $upd-input-height;
  line-height: $upd-input-height;
  padding: 0 0.2em 0 0;
  transition: background $upd-transition-time;
  vertical-align: top;
  white-space: nowrap;
  width: 25%;

  &:hover {
    background-color: shade($upd-color-brand-red, $upd-tint-active);
  }
}


.site-footer__details {
  border-top: 1px solid $upd-color-border-mid;
  color: rgba($upd-color-text-reverse, 0.5);
  padding: $upd-spacing-gutter-large 0;
  position: relative;

  @include mq(small) {
    padding-right: rems(80px) + $upd-spacing-gutter-large; // Allow for Hactar logo
    text-align: left;
  }
}


.site-footer__detail {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;

  &:last-child {
    margin: 0;
  }

  a:hover {
    text-decoration: underline;
  }
}


.site-footer__hactar {
  $height: $upd-spacing-gutter-large;

  display: block;
  height: $height;
  margin: $upd-spacing-gutter-large auto 0;
  opacity: 0.5;
  transition: opacity 2 * $upd-transition-time;

  @include mq(small) {
    margin-top: -$height / 2;
    position: absolute;
    right: 0;
    top: 50%;
  }

  &:focus,
  &:hover {
    opacity: 0.8;
  }
}
