/* Tag list */

@include private {
  $gutter: rems(16px);

  .tag-list {
    @extend %clearfix;
    @extend %list-bare;

    margin: 0 0 0 (-$gutter);
  }


  .tag-list__item {
    float: left;
    line-height: 1;
    max-width: 100%;
    padding: 0 0 0 $gutter;
  }
}
