.watch-video__wrapper {
  position: relative;

  .watch-video__context {
    position: absolute;
    z-index: 1;
  }

  .watch-video__context--full-width {
    height: inherit;
    width: 100%;
  }

  .watch-video__context--non-full-width {
    height: 100%;
    width: calc(100% - 8rem);
  }

  .watch-video__context-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: rems(640px);;
    text-align: center;
    margin: 0 auto;
  }

  .watch-video__title, .watch-video__standfirst {
    color: $upd-color-text-reverse;
  }

  .watch-video__standfirst {
    line-height: 2;
  }

}

.watch-video--full-width {
  height: 550px;
  overflow: hidden;
}

.watch-video__overlay {
  opacity: .5;
  background-color: $upd-color-brand-navy;
  width: calc(100% - 8rem);
  height: 100%;
  position: absolute;
}
