/* Fonts */

/**
 * All font styles should be defined here using both a mixin and placeholder
 * selector. Where possible, the placeholder should be used, but in some cases
 * this won't be possible (eg media queries), in which case the mixin can be
 * used.
 *
 * Note that all styles build on the base font: it is not necessary to repeat
 * those properties that are unchanged.
 */

/* Base
   ========================================================================== */
@mixin font-base {
  color: $upd-color-text-primary;
  font-family: "GT Walsheim Pro", "Gill Sans", "Century Gothic", "Franklin Gothic", sans-serif;
  font-weight: $upd-font-weight-light;
  font-size: 1rem;
  line-height: $upd-line-height-base;
}

%font-base {
  @include font-base;
}





/* Body-copy
   ========================================================================== */
@mixin font-body-copy {
  font-size: rems(18px);
  line-height: rems(32px);
}

%font-body-copy {
  @include font-body-copy;
}


@mixin font-body-copy-small {
  font-size: rems(14px);
  line-height: rems(24px);
}

%font-body-copy-small {
  @include font-body-copy-small;
}





/* Headings
   ========================================================================== */
@mixin font-heading-1 {
  color: $upd-color-brand-grey-blue;
  font-size: rems(48px);
  font-weight: $upd-font-weight-light;
}

%font-heading-1 {
  @include font-heading-1;
}


@mixin font-heading-2 {
  font-size: rems(30px);
  font-weight: $upd-font-weight-medium;
}

%font-heading-2 {
  @include font-heading-2;
}


@mixin font-heading-3 {
  font-size: rems(20px);
  font-weight: $upd-font-weight-light;
}

%font-heading-3 {
  @include font-heading-3;
}





/* Tags
   ========================================================================== */
@mixin font-tag {
  font-family: "Montserrat", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: rems(10px);
  font-weight: $upd-font-weight-bold;
  letter-spacing: 0.02em;
  line-height: rems(16px);
  text-transform: uppercase;
}

%font-tag {
  @include font-tag;
}
