/* Layout */

/**
 * Simple grid system
 */

.grid {
  display: block; // Fallback for browsers without flex support
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -$upd-spacing-gutter-base;
  padding: 0;
}

.grid--large {
  margin-left: -$upd-spacing-gutter-large;
}

.grid--flush {
  margin-left: 0;
}


.grid__item {
  display: inline-block; // Fallback for browsers without flex support
  display: flex;
  padding-left: $upd-spacing-gutter-base;

  .grid--large & {
    padding-left: $upd-spacing-gutter-large
  }

  .grid--flush & {
    padding-left: 0;
  }
}
