/* General settings */

/**
 * All global variables that don't relate to a specific component should be
 * defined here.
 */

/* Colors
   ========================================================================== */

/**
 * Define common colours by description first, then map the descriptions to
 * their uses.
 */
$upd-color-brand-aqua: #70D6D4;
$upd-color-brand-blue: #014061;
$upd-color-brand-grey-blue: #658C9F;
$upd-color-brand-navy: #004160;
$upd-color-brand-red: #F8533D;

$upd-color-background-primary: #FFFFFF;
$upd-color-background-secondary: #F8FAFA;

$upd-color-text-primary: #354045;
$upd-color-text-reverse: #FFFFFF;
$upd-color-text-placeholder: #BEC2C4;

$upd-color-border-light: #D8E2E7;
$upd-color-border-mid: #9DB6C2;





/* Fonts
   ========================================================================== */
$upd-font-family-primary: "GT Walsheim Pro";
$upd-font-family-primary-fallback: "Gill Sans", "Century Gothic", "Franklin Gothic";

$upd-font-weight-light: 300;
$upd-font-weight-regular: 400;
$upd-font-weight-medium: 500;
$upd-font-weight-bold: 700;

/**
 * Because font-size and line-height are useful for calculating sizes,
 * we'll define them here, then apply them in the font definitions.
 *
 * Define the base font size in px, and everything else in rem.
 */
$upd-font-size-base: 16px;
$upd-line-height-base: 1.5;

$upd-font-size-body-copy: rems(18px);
$upd-line-height-body-copy: rems(32px / px($upd-font-size-body-copy));

$upd-font-size-body-copy-small: rems(14px);
$upd-line-height-body-copy-small: rems(24px / px($upd-font-size-body-copy-small));

$upd-font-size-heading-1: rems(48px);
$upd-font-size-heading-2: rems(36px);
$upd-font-size-heading-3: rems(20px);





/* Layout
   ========================================================================== */
$upd-spacing-gutter-base: rems(22px);
$upd-spacing-gutter-large: rems(32px);

$upd-max-width: rems(1130px);





/* Animation
   ========================================================================== */
$upd-transition-time: 300ms;
