/* Layout */

@include private {
  $sidebar-width: ($upd-max-width - 3 * $upd-spacing-gutter-large) / 4;

  .layout {
    @extend %clearfix;
    @extend %list-bare;

    margin: $upd-spacing-gutter-large 0 (2 * $upd-spacing-gutter-large);
    position: relative;

    @include mq($upd-layout-breakpoint) {
      margin: rems(80px) 0;
    }
  }

  .layout__item {
    display: block;
    padding-top: $upd-spacing-gutter-large;
    position: relative;

    @include mq($upd-layout-breakpoint) {
      float: left;
    }
  }

  /**
   * Create a two column layout in which the secondary column is fixed width
   * and the primary column occupies the remaining space.
   *
   * 1. Give secondary column zero net width so it can be positioned next to
   *    the primary one
   * 2. Apply a higher z-index to the secondary column so it's stacked above
   *    the primary column (which is overlapping it)
   */
  .layout__item--primary {
    @include mq($upd-layout-breakpoint) {
      padding-left: $sidebar-width + $upd-spacing-gutter-large;

      .layout--monolith & {
        padding-left: 3 * $upd-spacing-gutter-large;
      }
    }
  }

  .layout__item--secondary {
    z-index: 2; /* 2 */

    @include mq($upd-layout-breakpoint) {
      margin-right: -$sidebar-width;  /* 1 */
      width: $sidebar-width;  /* 1 */
    }
  }

  .layout__item--sticky {
    padding-bottom: $upd-spacing-gutter-large;
    position: sticky;
    top: 0;
  }
}
