/* Call to Action */

.cta {
  @extend %font-body-copy;

  color: $upd-color-brand-red;
  display: block;
  font-weight: $upd-font-weight-medium;
  text-decoration: none;

  @each $extension in $upd-cta-extensions {
    &[href*=".#{$extension}"]:before {
      @extend %tag;

      content: "#{$extension}";
    }
  }

  &:after {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}

.cta--arrow {
  &:after {
    $svg: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 11"><path fill="#{$upd-color-brand-red}" d="M15.7436041,4.65386659 L11.2994011,0.257621807 C10.9517949,-0.0861645341 10.3899353,-0.0861645341 10.0423291,0.257621807 C9.69472292,0.601408149 9.69472292,1.15709349 10.0423291,1.50087983 L12.9698666,4.39624664 L0.891662833,4.39624664 C0.400035664,4.39624664 0.00264444444,4.79015017 0.00264444444,5.2754956 C0.00264444444,5.76172026 0.400035664,6.15474455 0.891662833,6.15474455 L12.9698666,6.15474455 L10.0423291,9.05011137 C9.69472292,9.3938977 9.69472292,9.94958304 10.0423291,10.2933694 C10.3899353,10.6371558 10.9517949,10.6371558 11.2994011,10.2933694 L15.7436041,5.89800386 C16.0912102,5.55421752 16.0867651,4.99325668 15.7436041,4.65386659 Z"/></svg>';

    content: svg-url($svg);
  }
}



.cta--small {
  @extend %font-body-copy-small;
}
