/* News tile */

.news-tile {
  @extend %tile;

  margin-bottom: $upd-spacing-gutter-large;
  max-width: rems(354px);
}


.news-tile__date {
  @extend %h5;

  margin-bottom: $upd-line-height-heading-5;
}


.news-tile__title {
  @extend %h4;

  margin-bottom: $upd-line-height-heading-4;
  min-height: 2 * $upd-line-height-heading-4;
}


.news-tile__tag {
  left:0;
  position: absolute;
  top: 0;
}
