/* News tile */

.news-tile {
  @extend %tile;

  max-width: rems(354px);
}


.news-tile__date {
  @extend %h5;

  margin: $upd-line-height-heading-5 0;
}


.news-tile__title {
  @extend %h4;

  margin-bottom: $upd-line-height-heading-4;
}


.news-tile__tag {
  left:0;
  position: absolute;
  top: 0;
}
