/* Logo */

.logo {
  $height: 70px;
  $width: 200px;

  @extend %ratio;

  @include set-ratio($width, $height);

  color: inherit;
  max-width: 100%;
  width: $width;
}

.logo__image {
  @extend %ratio__content;
}