/* Site header */

.site-header {
  @extend %clearfix;
  @extend %font-body-copy-small;

  background-color: $upd-color-brand-navy;
  color: $upd-color-text-reverse;
  font-weight: $upd-font-weight-medium;
  height: $upd-site-header-height-small;
  position: relative;
  z-index: 999;

  @include mq($upd-site-header-breakpoint-height) {
    height: $upd-site-header-height;
  }
}


.site-header__logo {
  height: 100%;
  padding: 0.7em;

  @include mq($upd-site-header-breakpoint-height) {
    padding: 1em;
  }
}


.site-header__navigation {
  $transition-time: 2 * $upd-transition-time;

  background: $upd-color-brand-navy;

  position: fixed;
  height: 100%;
  left: 100%;
  top: 0;
  transition: transform $transition-time, visibility 0s $transition-time;
  visibility: hidden;
  width: 100%;
  z-index: 999;

  @include mq(small) {
    max-width: rems(320px);
  }

  @include mq($upd-site-header-breakpoint-navigation) {
    float: right;
    left: 0;
    max-width: unset;
    padding-right: $upd-site-header-height; // Allow space for search icon
    position: relative;
    visibility: visible;
    width: auto;
    z-index: auto;
  }

  &:target,
  &.is-active {
    transform: translateX(-100%);
    transition: transform $transition-time;
    visibility: visible;

    @include mq($upd-site-header-breakpoint-navigation) {
      transform: unset;
      transition: unset;
    }
  }
}


.site-header__search {
  background-color: $upd-color-brand-navy;
  height: 0;
  overflow: hidden;
  position: absolute;
  transition: height $upd-transition-time, visibility 0s $upd-transition-time;
  top: 100%;
  width: 100%;

  &:target,
  &.is-active {
    height: 100%;
    transition: height $upd-transition-time;
  }

  @include mq($upd-site-header-breakpoint-search) {
    float: right;
    height: 100%;
    position: relative;
    top: 0;
    transition: unset;
    visibility: visible;
    width: auto;
    z-index: auto;
  }

  @include mq($upd-site-header-breakpoint-navigation) {
    position: absolute;
    right: 0;
  }
}


.site-header__search-inner {
  bottom: 0;
  position: absolute;
  width: 100%;

  @include mq($upd-site-header-breakpoint-search) {
    position: relative;
  }
}


.site-header__button {
  $icon-size: rems(16px);
  $padding: ($upd-site-header-height-small - $icon-size) / 2;

  display: inline-block;
  font-size: $icon-size;
  height: $upd-site-header-height-small;
  line-height: 1;
  padding: $padding;
  vertical-align: middle;

  @include mq($upd-site-header-breakpoint-height) {
    $padding: ($upd-site-header-height - $icon-size) / 2;

    height: $upd-site-header-height;
    padding: $padding;
  }
}

.site-header__button--toggle {
  float: right;
}

.site-header__button--navigation {
  @include mq($upd-site-header-breakpoint-navigation) {
    display: none;
  }
}

.site-header__button--search {
  @include mq($upd-site-header-breakpoint-search) {
    display: none;
  }
}

.site-header__button--close {
  text-align: right;
  width: 100%;

  @include mq($upd-site-header-breakpoint-navigation) {
    display: none;
  }
}

