/* Tag */

.tag,
%tag {
  @extend %font-tag;

  background-color: rgba($upd-color-brand-red, 0.5);
  border-radius: rems(4px);
  color: $upd-color-text-reverse;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  padding: 0 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

@each $variant, $color in $upd-colors-tag {
  .tag--#{$variant} {
    background-color: $color;
  }
}
