/* Fonts */

@mixin utility-font($name, $line-height) {
  .u-font-#{$name} {
    @extend %font-#{$name};

    p,
    ol,
    ul {
      margin-bottom: $line-height;
    }

    ol:not([class]),
    ul:not([class]) {
      padding-left: $line-height;
    }
  }
}

@include utility-font(body-copy, $upd-line-height-body-copy);

@include utility-font(body-copy-small, $upd-line-height-body-copy-small);

@include utility-font(heading-3, $upd-line-height-heading-3);
