/* r41983 Custom styles for new image in PDF */
.resource-box__title:before {
  height: auto;
}

.resource-box .pdfpreview img {
  max-height: 140px;
  display: block;
  margin: 0 auto;
}

/* r41970 Fixing CSS issue with related news block in sidebar */
@media screen and (min-width: 55rem) {
  .layout__item--secondary .u-width-1-of-2-from-medium {
    width: 100%;
  }
}

.case-study-video.top {
  padding-top: 4rem;
}

/* r50240: Change homepage header text.*/
.with-sub-title {
  padding: 2rem 0;
}

.hero__sub-title {
  /* Limit the max height and hide field's content if it goes over. */
  max-height:250px;
  overflow: hidden;
}

.hero__sub-title p {
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2.7rem;
}
/* #50240: Changes to buttons on the homepage. Overrides main.css. */
.key-info-tile__icon {
  margin-bottom: 20px;
}

.key-info-tile .cta{
  font-size: 1.25rem;
}

@media screen and (min-width: 30rem) {
  .key-info-tile {
    padding: 1.9rem;
  }
}
