/**
 * r41976: Applying styles to HTML tables in content.
 */
.layout table { border: 1px solid #004160; }
.layout table thead tr th { border: 1px solid #004160; background-color: #d8e2e7; padding: 2px 4px; }
.layout table tbody tr td { border: 1px solid #004160; padding: 2px 4px; }
